:root {
  --bg: #101b26;
  --red: #802b38;
  --green: #8db962;
  --gold: #9b7d4b;
  --deathRatio: 67/121;
  --ghostRatio: 39/121;
  --scytheRatio: 129/93;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  user-select: none;
  background-color: var(--bg);
  color: white;
  font-size: 0.833333vw;
}

* {
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
  image-rendering: pixelated;
}

#scene {
  position: relative;
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-around;
}

#skip {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  opacity: 0;
}

#label1 {
  left: calc(50% - 40rem / 2);
}

.text-label {
  display: block;
  position: absolute;
  font-size: 1.5rem;
  transition: opacity 0.3s;
  width: 40rem;
  bottom: 50%;
  text-align: center;
  border-radius: 0.5rem;
  font-weight: 500;
  padding: 1rem;
  opacity: 0;
}
.text-label::before {
  position: absolute;
  content: '';
  display: inline-block;
  height: 0;
  width: 0;
}

.text-label.br,
.text-label.bl,
.text-label.rt {
  background-color: white;
  color: #111;
  text-align: left;
}

.text-label.br::before {
  right: 13rem;
  bottom: -0.9rem;
  border-top: 1rem solid white;
  border-right: 1rem solid transparent;
}

.text-label.bl::before {
  left: 13rem;
  bottom: -0.9rem;
  border-top: 1rem solid white;
  border-left: 1rem solid transparent;
}

.text-label.rt::before {
  right: -0.9rem;
  top: 1rem;
  border-bottom: 1rem solid white;
  border-right: 1rem solid transparent;
}

#floor {
  position: absolute;
  left: 0;
  bottom: -3rem;
  width: 100%;
  height: 3rem;
  background: #f2f0e6;
  background: repeating-linear-gradient(45deg, #adaca5, #f1f0eb 0.2%, white 10%);
  transition: bottom 0.3s;
}

#ghost {
  position: absolute;
  left: calc(32% - (13rem / 2) - 1rem);
  height: 25rem;
  width: calc(25rem * var(--ghostRatio));
  bottom: calc(100% + 2rem);
  background-image: url('/assets/ghost.webp');
  background-size: cover;
  transition: all 0.5s;
  animation: float 4s infinite;
}

#death {
  position: absolute;
  right: calc(-20rem * var(--scytheRatio));
  bottom: 2rem;
  height: 23rem;
  width: calc(23rem * var(--deathRatio));
  transition: all 0.8s linear;
  animation: float 4s 0.1s infinite;
}

@keyframes incoming {
  0% {
    right: calc(20rem * var(--scytheRatio));
    transform: rotate(0deg) translate3d(-15rem, calc(100vh - 23rem - 4rem), 0) rotate(0deg);
  }
  100% {
    right: calc(20rem * var(--scytheRatio));
    transform: rotate(180deg) translate3d(-15rem, calc(100vh - 23rem - 4rem), 0) rotate(-180deg);
  }
}

#death::before {
  position: absolute;
  content: '';
  left: -4rem;
  bottom: 2rem;
  height: 20rem;
  width: calc(20rem * var(--scytheRatio));
  background-image: url('/assets/scythe.webp');
  background-size: cover;
  z-index: 200;
  animation: float linear 4s 0.3s infinite;
}

@keyframes float {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 1rem, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes flippedFloat {
  0% {
    transform: translate3d(0, 0, 0) scaleX(-1);
  }
  50% {
    transform: translate3d(0, 1rem, 0) scaleX(-1);
  }
  100% {
    transform: translate3d(0, 0, 0) scaleX(-1);
  }
}
#death:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url('/assets/death.webp');
  background-size: cover;
  z-index: 200;
}

#popup {
  display: none;
  position: absolute;
  z-index: 999;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#popup h1 span {
  color: var(--red);
  margin: 0 2rem;
}

#popup label {
    position: absolute;
    bottom: 2rem;
    font-size: 1.2rem;
}
h1 {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

#menu p {
  text-align: center;
  font-size: 1.5rem;
}

#game {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: none;
  color: white;
}

#board {
  position: relative;
  height: 100%;
  width: 100%;
}

#card-remaining {
  position: absolute;
  top: 18rem;
  width: 9.75rem;
  left: 7rem;
  text-align: center;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.8s;
}

.card {
  position: absolute;
  background-color: transparent;
  perspective: 62.5rem;
  transition:
    top 0.8s,
    left 0.8s,
    transform 0.2s;
  cursor: pointer;
}

.card .inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card.hidden .inner {
  transform: rotateY(180deg);
}

.card.locked,
.card.discarded,
.card.b.hidden {
  cursor: default;
}

.card.locked .front::after {
  display: block;
}

.card.discarded {
  filter: grayscale(60%);
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.card .front {
  background-image: url('/assets/cards.webp');
  background-size: cover;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  font-weight: bold;
  transition: all 0.3s;
}

.card .front label {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  color: white;
  cursor: pointer;
  color: var(--gold);
  font-size: 1.1rem;
  padding: 0 1rem;
  text-transform: uppercase;
}

.card .front p {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  min-height: 50%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  padding: 0 1rem 1rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
  background-size: cover;
}
.card.m .front label {
  color: var(--red);
}
.card.b .front label {
  color: var(--green);
}
.card.tb .front p,.card.tm .front p {
  font-size: 1.5rem;
}

.card .front:before {
  content: '';
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('/assets/cards.webp');
  background-size: cover;
}

.card .front::after {
  content: '';
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  background-image: url('/assets/cards.webp');
  background-size: cover;
  background-position: -300%;
  top: 0;
}

.card .back {
  background-image: url('/assets/cards.webp');
  background-size: cover;
  background-position: -100%;
  color: white;
  transform: rotateY(180deg);
}

.card.pile .back {
  cursor: pointer;
}
.card.b .back {
  background-position: -200%;
}
.card.tb .front:before {
  display: block;
  background-position: 100%;
}
.card.tm .front:before {
  display: block;
  background-position: 200%;
}

#instruction {
  position: absolute;
  top: 0;
  width: 30rem;
  left: calc(50% - (30rem / 2));
  text-align: center;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.3s;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #08111b;
}

#malediction {
  position: absolute;
  z-index: 98;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 100%;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s 0.8s;
  color: white;
  font-size: 1.5rem;
}

#popup button,
#malediction button {
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  background: brown;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s;
}

#popup button:hover,
#malediction button:hover {
  background: rgb(185, 47, 47);
}

#malediction button {
  margin-top: 20%;
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 6rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transition: all 0.8s;
}

#sidebar.active {
  background-color: #08111b;
}

#sidebar.active #gradient {
  opacity: 1;
}

#gradient {
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 0.5rem;
  background: linear-gradient(
    #802b38 7.69%,
    #85393b 7.69% 15.38%,
    #89463e 15.38% 23.07%,
    #8e5442 23.07% 30.78%,
    #926245 30.78% 38.46%,
    #976f48 38.46% 46.15%,
    #9b7d4b 46.15% 53.84%,
    #99874f 53.84% 61.54%,
    #969153 61.54% 69.23%,
    #949b57 69.23% 76.92%,
    #92a55a 76.92% 84.61%,
    #8faf5e 84.61% 92.3%,
    #8db962 92.3% 100%
  );
  overflow: hidden;
  transition: all 0.8s;
}

#gradient::after {
  content: '13';
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% / 13);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}

#index {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: height 0.3s;
  background: #02090f;
}

#mute {
  background: transparent;
  display: none;
  z-index: 9999;
  height: 4rem;
  width: 4rem;
  margin: 0 0 1rem 0;
  border-radius: 50%;
  background-image: url('/assets/sound.webp');
  background-size: 200% 100%;
  background-position: 0%;
  border: none;
  flex-shrink: 0;
}

#mute.off {
  background-position: 100%;
}

#mute:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#credits {
  position: absolute;
  right: 1.3rem;
  bottom: 18rem;
  display: flex;
  justify-content: center;
  opacity: 0;
}

#credits div {
  background-color: #111;
  position: relative;
  height: 1rem;
  width: 1rem;
  margin-left: 1rem;
}
#credits div.active {
  background-color: var(--green);
}
#credits > div:before {
  content: '';
  position: absolute;
  display: block;
  top: -0.25rem;
  left: 0.25rem;
  height: 1.5rem;
  width: 0.5rem;
  background-color: inherit;
}
#credits > div:after {
  content: '';
  position: absolute;
  display: block;
  left: -0.25rem;
  top: 0.25rem;
  width: 1.5rem;
  height: 0.5rem;
  background-color: inherit;
}
